.journalsContainer {
  display: flex;
  flex-direction: column;
}

.journalEntry {
  margin-bottom: 42px;
  padding: 12px;
  border: #E1E1E6 solid 1px;
}

.textContainer {
  margin-left: 25%;
}

.journalHeader {
  color: #E1E1E6;
  font-size: 28px;
  margin-bottom: 34px;
  position: absolute;
  top: 86px;
  margin-left: 66px;
  display: flex;
  flex-direction: column;
}

.journalPageContainer {
  margin-left: 15%;
}

.journalTitle {
  font-size: 20px;
}

.journalButton {
  width: 50%;
  margin-left: 80px;
  &:hover {
    background-color: darkslateblue;
    cursor: pointer;
  }
}